form {
    padding: 2rem 1rem 0;
}

form.hide {
    opacity: 0;
    visibility: hidden;
}

.input {
    display: flex;
    flex-direction: column-reverse;
    position: relative;
    padding-top: 1.5rem;
}

.input-group {
    padding-top: 30px;
}

.input-group .input {
    display: inline-flex;

    margin-right: 30px;
    width: 246px;
}

.input+.input {
    margin-top: 1.5rem;
}

.input-label {
    color: #8597a3;
    position: absolute;
    top: 2rem;
    transition: 0.25s ease;
    font-size: 0.8em;
    /* z-index: 100000; */
}

.input-field {
    border: 0;
    z-index: 1;
    background-color: transparent;
    border-bottom: 2px solid #eee;
    font: inherit;
    font-size: 1.425rem;
    padding: 0.25rem 0;
    transition: all .2s ease;
}

.input-field:focus {
    outline: 0;
    border-bottom-color: #49b293;
}

.input-field:focus+.input-label {
    color: #49b293;
    transform: translateY(-2rem);
}

.input-field:not(:placeholder-shown)+.input-label {
    color: #49b293;
    transform: translateY(-2rem);
}

.input-field:not(:valid)+.input-label {
    color: #b24949;
}


.selection-big select {
    /* -webkit-appearance: none; */
    padding: 7px 0px 7px 12px;
    /* width: 470px; */
    width: 100%;
    border: 1px solid #e8eaed;
    border-radius: 2rem;
    background: #fff;
    box-shadow: 0 1px 3px -2px #9098a9;
    cursor: pointer;
    font-family: inherit;
    font-size: 1em;
    transition: all 150ms ease;
    color: rgb(0, 0, 0);
}


.selection-big select:active {
    border: solid 1px #707274;
}

.selection-big select:hover {
    border: solid 1px #b1b3b6;
    color: black;
}

.selection-big select:focus {
    outline: none;
    /* border-color: #07f; */
    /* box-shadow: 0 0 0 2px rgba(0, 119, 255, 0.2); */
    border: solid 1px #b1b3b6;
    color: black;
}


.action {
    margin-top: 5rem;
}

.action-button {
    font: inherit;
    font-size: 1.25rem;
    padding: 1em;
    width: 100%;
    font-weight: 500;
    background-color: #49b293;
    border-radius: 2rem;
    color: #FFF;
    border: 0;
    cursor: pointer;
    border-bottom: 8px solid #2d6d5a;
    margin-bottom: 3rem;
    transition: all 0s ease, filter 0.5s ease;
    /* font-weight: bold; */
}

.action-button:focus {
    /* outline: 0; */
}

.action-button:disabled {
    filter: grayscale();
    transform: translateY(8px);
    border-bottom: 8px solid #ffffff;
}

.action-button:not(:disabled):active {
    border-bottom: 8px solid #ffffff;
    transform: translateY(8px);
}


.input-field.title {
    /* margin-bottom: .3em; */
    font-weight: bold;
    font-size: 2em;
}

.input-field.description {
    font-size: 1em;
}

form {
    transition: opacity 1.5s ease;
}


form .image-preview {
    display: block;
    width: 100%;
    height: 450px;
    /* margin-top: 30px; */
    background: black;
    background-image: url("https://3.bp.blogspot.com/-hNWh6ShDJGs/XFUltMH2fsI/AAAAAAAABz0/_UwOXZDl3ZEtejlpgFQoUBJ_rjt3O9ipgCKgBGAs/w1920-h1080-c/mountains-fog-landscape-scenery-16-4K.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-color: #ffffff;
    transition: all .4s ease;
    /* cursor: pointer; */
    border: 2px solid rgb(255, 255, 255);
    border-radius: 2rem;
    box-sizing: border-box;
    padding: 10px;
}


form .image-preview:hover {
    /* border: 2px dashed rgb(94, 94, 94); */
}

form .image-preview .image-preview-content {
    display: block;
    opacity: 0;
    transition-property: opaicty;
    transition: all .4s ease;
    /* transition-delay: 1s; */
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.87);
    border-radius: 2rem;
    text-align: center;
    /* line-height: 400px; */
    font-weight: bold;
    transform: scale(0.99);
    /* border: 3px solid black; */
}

.upload-image {
    /* background: red; */
    display: block;
    position: relative;
    width: 100%;
    height: 50%;
}

.upload-image label {
    /* display: block; */
    cursor: pointer;
    position: absolute;
    font: inherit;
    font-size: 1em;
    padding: 1em;
    font-weight: 500;
    background-color: #49b293;
    border-radius: 6px;
    color: #ffffffda;
    border: 0;
    cursor: pointer;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-bottom: 2px solid #398870;
    transition: all .1s ease;
    /* font-weight: bold; */
    box-sizing: border-box;
    transition: all .2s ease, transform 0.05s ease, border 0s ease;
    /* margin-left: 20px; */
}

.upload-image .divider {
    width: 100%;
    position: absolute;
    left: 0;
    text-align: center;
    bottom: -20px;
    font-size: 0.9em;
    color: rgb(97, 97, 97);
}

.noselect {
    -webkit-touch-callout: none;
    /* iOS Safari */
    -webkit-user-select: none;
    /* Safari */
    -khtml-user-select: none;
    /* Konqueror HTML */
    -moz-user-select: none;
    /* Old versions of Firefox */
    -ms-user-select: none;
    /* Internet Explorer/Edge */
    user-select: none;
    /* Non-prefixed version, currently
                                    supported by Chrome, Edge, Opera and Firefox */
}

.upload-image label:active {
    /* border-bottom: 3px solid #2F2F2F; */
    transform: translate(-50%, -50%) translateY(2px);
    border-bottom: 2px solid #ffffff;
}

.upload-image label:hover {
    background-color: #47ad8f;
    color: white;
}

.url-image {
    /* background: green; */
    position: absolute;
    bottom: 0;
    display: block;
    position: relative;
    width: 80%;
    height: auto;
    margin: 0 auto;
}

.url-image .input {
    margin-top: 50px;
    color: black;
    z-index: 0;
}

.url-image .input label {
    color: black;
}

.url-image .input input {
    border-bottom-color: #353535;
    z-index: 0;
}

form .image-upload-container:hover .image-preview-content {
    transform: scale(1);
    opacity: 1;
}

form input[type=url] {
    font-size: 0.88em;
}


.image-upload-container {
    display: block;
    position: relative;
}


@media screen and (max-width: 800px) {
    .selection-big select {
        width: 100%
    }
}


.loading.loading-modify {
    position: absolute;
    top: 45vh;
    left: 49vw;
}

.saved-icon {
    transition: all 0.2s ease;
    opacity: 1;
}

.saved-icon.hide {
    opacity: 0;
    transition: all 0.2s ease, margin-left 0.6s ease;
    margin-left: -30px
}

canvas {

    pointer-events: none;
    /* position: absolute; */
    display: block;
    width: 100%;
    height: 600px;
    z-index: 2;
    left: 0;
    /* top: 0; */
    margin-top: -200px;
    bottom: 10px;
    background-color: rgba(255, 0, 0, 0.13);
}
