.sticky {
    /* position: -webkit-sticky;
    /* Safari */
    /* position: sticky; */
    /* z-index: 10; */
    /* top: 62px; */

}

.search-container {

    display: flex;
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 9000px;
    margin-right: 20px;
    width: 100%;

    min-width: 50px;
    max-width: 450px;
    min-width: 150px;
    margin: 0 auto;
    margin-top: 28px;
    background-color: transparent;


}

.search-bar {
    padding: 5px 25px;
    display: flex;
    flex-wrap: nowrap;
    height: 40px;
    width: 100%;
    padding: 5px 10px 5px 20px;
    color: rgb(0, 0, 0);
    /* border: 0px; */
    background-size: 20px;
    background-color: rgba(0, 0, 0, 0);
    outline: none;
    font-family: Fira Code, Arial, Helvetica, sans-serif;
    font-size: 1em;
    font-weight: bold;
    background-color: rgb(255, 255, 255);
    /* border: solid 1rgba(133, 133, 133, 0)33); */
    border: 1px solid #e8eaed;
    box-shadow: 0 1px 3px -2px #9098a9;
    /* border-top: none;
    border-right: none;
    border-left: none; */
    border-radius: 2rem;
    box-sizing: border-box;
    transition: all .2s ease-in-out;
}

.search-bar:hover {
    border: solid 1px #b1b3b6;
}

.search-bar:hover+.search-icon {
    color: rgb(56, 56, 56);
}

.search-bar:focus+.search-icon {
    color: rgb(0, 0, 0);
    /* transform: scale(1.1); */
}

.search-bar:focus {
    border: solid 1px #656769;
    box-shadow: 0 1px 6px 4px #dde1e6;
    /* padding-left: 16px; */
    /* width: 300%; */
}

.search-icon {
    flex-shrink: 0;
    width: 25px;
    height: 30px;
    border: none;
    color: rgb(117, 117, 117);
    padding: 3px;
    margin: 0 auto;
    /* margin: 4px; */
    margin-left: -35px;
    margin-top: 5px;
    background-color: rgb(255, 255, 255);
    box-sizing: border-box;
    border-radius: 2rem;
    transition: all .2s ease;
}

.no-result {
    display: block;
    visibility: visible;
    margin: 0 auto;
    text-align: center;
    margin-top: -80px;
    margin-bottom: 100px;
    font-weight: bold;
    opacity: 0;
    transition: opacity 0.5s ease;
}

.no-result.show {
    opacity: 1;
}
